<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<title>Consultas</title>
</head>
<body>
	<header>
		<div th:insert="principal :: cabecera"></div>
	</header>
	
	<br/>
	<h1 class="h1" style="text-align: center;">Consultas</h1>
	
	<div class="d-flex" style="display: flex; justify-content: center; align-items: center;">
				
		<!-- bloque 1-->
		<div class="card"
			style="width: 15rem;border-radius: 10px; margin-left: 20px; padding-top: 10px;margin-top: 20px;">
			<svg xmlns="http://www.w3.org/2000/svg" height="5em"
				viewBox="0 0 384 512">
				<path
					d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z" />
			</svg>
			<div class="card-body">
				<h5 class="card-title" style="font-size: 15px;">Requerimiento</h5>
				<p class="card-text" style="font-size: 13px;">Se Busca por Usuario</p>
				<a th:href="@{/consultaRequerimiento/}" class="btn btn-success" style="font-size: 15px;">Consultar</a>
			</div>
		</div>

	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	 	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>